/* удаление отступов.  */
* {
    margin: 0;
    padding: 0;
} 

/* цвет основного фона.  */

body {
    background-color:orangered;
    
}

#preloader {
    display: none;
    position: fixed;
    left: 40%;
    top: 30%;
}