#pageTwo {
    display: none;
    align-items: center;
    align-content: center; 
    justify-content: center; 
    background-color: orangered;
}
#dataPlayerPt {
    min-height: 100px;
}

#sidePt {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.botButton {
    display: flex;
    justify-content: center;
}
#change {
    height: 50px;
    width: 100px;
    background: fixed;
    border: 1px outset black;
    cursor: pointer;
}
#change:active{
    padding-top:2px;
    padding-left:2px;
}

.card {
    height: 100px;
    width: 80px;
    display: inherit;
    align-items: center;
    justify-content: center;
    margin: 10px;
    cursor: pointer;
}

.card:active {
    border: 1px solid blueviolet;
    padding-top: 4px;
    padding-left: 4px;
    height: 94px;
    width: 74px;
}