/* страница 2. */
#pageTwo {
    display: none;
    background-color: orangered;
}
/*  блок для добавления персонажей игроку для игры. */
#dataPlayerPt {
    min-height: 110px;
    display: flex;
}
/* блок с карточками. */
#sidePt {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}
/* нижний блок для кнопки. */
.botButton {
    display: flex;
    justify-content: center;
}
/* 2 кнопки выбора. */
#changeOnePl {
    height: 50px;
    width: 100px;
    background: fixed;
    border: 1px outset black;
    cursor: pointer;
}
#changeOnePl:active{
    padding-top:2px;
    padding-left:2px;
}
#changeTwoPl {
    height: 50px;
    width: 100px;
    background: fixed;
    border: 1px outset black;
    cursor: pointer;
    display: none;
}
#changeTwoPl:active{
    padding-top:2px;
    padding-left:2px;
}
/* блок карточка. */
.card {
    height: 80px;
    width: 80px;
    margin: 10px;
    cursor: pointer;
}
.card:active {
    border: 1px solid blueviolet;
    padding-top: 4px;
    padding-left: 4px;
    height: 74px;
    width: 74px;
} 
/* блок с карточкой в блоке доб. персонажей игроку для игры. */
.addCard {
    height: 80px;
    width: 80px;
    margin: 5px;
}
/* класс для блоков выбора игроков */
.blockPlayer {
    width: 50%;
    border: 2px solid blueviolet;
    display: inherit;
    align-items: center;
}

