#pageThree {
    display: none;
    background-color: rgb(70, 124, 168);
}

#mainPth {
    height: 80vh;
    display: flex;
}

#windowEvent {
    height: 19.62vh;
    border: 2px whitesmoke solid;
    background-color: rgb(126, 114, 98);
}

.windowPl {
    width: 50%;
    border: 1px white solid;
}

.topPanelPth {
    height: 20%;
    background-color: rgb(126, 114, 98);
}

.playFieldPth {
    height: 80%;
    border: 1px white ridge;
    display: flex;
}

.pFPthChar {
    width: 30%;
}

.pFPthGame {
    width: 70%;
    border-left: 1px white solid;
    border-right: 1px white solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stats {
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.butt {
    height: 40%;
    display: inline-block;
}

.gamePad {
    width: 98%;
    margin: 1%;
}

.statCard{
    display: grid;
    width: 35%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1vw;
}

.battleStatData {
    width: 60px;
    color: whitesmoke;
}

.battleStatValue {
    color: darkorange;
}

.pFPthGame img {
    width: 150px;
    height: 150px;
}

.nameChar {
    text-align: center;
    margin-top: 2px;
}